.container{
  width: 100%;
  height: 100%;
  display: flex;
  background:linear-gradient(36deg,rgba(126, 252, 0, 0.193),rgba(1, 247, 1, 0.308),rgba(128, 128, 128, 0.314),rgba(0, 166, 255, 0.396),rgba(255, 22, 22, 0.363));
}
.contect{
  width: 30%;
  height: 100%;
}
.content{
  width: 67%;
}
