@font-face {
  font-family:Romal ;
  src: url(../../../assets/font/Bleeding_Cowboys.ttf);
}
.container{
  width: 90%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  background-color: aquamarine;
  border-radius: 2rem;
}
.logo{
  display: flex;
}
.logo h2{
  margin: .5rem;
  font-family: Romal;
  margin-top: 10px;
  color: red;

}
.logo img{
  width: 40px;
  margin: .5rem;
}
.profile img{
  width: 40px;
  margin: .5rem;
}
